@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/*------------------------------------*\
  #APP
\*------------------------------------*/
.App {
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
  background-color: #F6F6F6 ;
  color: #4C4C4C;
}

/*------------------------------------*\
  #GENERIC CLASS
\*------------------------------------*/
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-align-center {
  align-items: center;
}

.flex-align-start {
  align-items: flex-start;
}