@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/*------------------------------------*\
  #APP
\*------------------------------------*/
.App {
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
  background-color: #F6F6F6 ;
  color: #4C4C4C;
}

/*------------------------------------*\
  #GENERIC CLASS
\*------------------------------------*/
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-align-center {
  align-items: center;
}

.flex-align-start {
  align-items: flex-start;
}


/*------------------------------------*\
  #INPUT
\*------------------------------------*/

input[type="checkbox"]{
  accent-color: #1A1919;
  border-radius: 5px;
  height: 16px;
  width: 16px;
  border: 1px solid #DEDEDE;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
  margin-right: 11px;
}
input[type="text"]{
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  &::placeholder{
    color: #A5A5A5;
  }
}



/*------------------------------------*\
  #SELECT
\*------------------------------------*/
.css-b62m3t-container{
  width: 108px;
}

.css-qc6sy-singleValue{
  font-weight: 300;
    font-size: 12px;
}

.css-1hb7zxy-IndicatorsContainer{
  display: none !important;
}

.css-1s2u09g-control{
  min-height: 30px !important;
}

.css-6j8wv5-Input{
  padding: 0 !important;
  margin: 0 !important;
}

#react-select-3-listbox{
  z-index: 10 !important;
}

.css-b62m3t-container{
  border: none !important;
}